@import './base/reset.css';
@import './base/variables.css';
@import './base/typography.css';
@import './base/base.css';
@import './base/globals.css';

@import './components/buttons.css';
@import './components/nav.css';
@import './components/cards.css';
@import './components/carousel.css';

@import './layout/header.css';
@import './layout/hero.css';
@import './layout/about.css';
@import './layout/services.css';
@import './layout/footer.css';

@import './pages/home.css';